
footer{
    margin-top: 1.5rem;;
    width: 100%;
    background-color: rgb(230, 230, 230);
    text-decoration: none;
}

.foot{
    text-align: left;
    text-decoration: none;
}

.foot-3-wr{
    margin-top: 1.5rem;
    margin-bottom: 0rem;
}

.footer-title{
    font-weight: 550;
    color: black;
}

.footer-title:hover{
    text-decoration: none !important;
}


.footer-cont{
    margin-top: 0.5rem;
}


.blackfont:hover{
    color: rgb(70, 70, 70);
    text-decoration: none !important;
  }
  

.copyright{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: rgb(165, 165, 165);
    font-size: .9rem;
    text-align: center;
}